:root {
    --color-background: rgb(226, 226, 226);
    --color-primary: rgb(255, 255, 255);
    --color-shadow: rgb(204, 204, 204);
    --color-active: #555; 
    --color-text: #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: var(--color-background);
}


#con-editor{
    width: 60%;
    position: relative;
    left: 20%;
    margin-top: 100px;
}

#editor{
    display: flex;
    flex-direction: column;
    background: var(--color-primary);
    padding: 5px;
    border-radius: 2px;
    box-shadow:var(--color-shadow) 10px 10px 10px;
}

#BoxTexto{
    background: var(--color-primary);
    width: 100%;
    height: 50vh;
    outline: none;
    border: solid 1px var(--color-primary);
    padding: 10px;
    margin-bottom: 10px;
}


#menu{
	background: var(--color-primary);;
	width: 100%;
	border: solid 1px rgb(255, 255, 255);;
	border-radius: 5px;
	padding: 5px;
}

.comando{
	padding: 5px 10px;
	background: rgb(255, 255, 255);;
	border: solid 1px rgb(255, 255, 255);;
    outline: none;
	cursor: pointer;
}

.comando:active{
	border: solid 1px var(--color-active);
	background: rgb(255, 255, 255);;
}

#btnUnderline > span{
	text-decoration: underline;
}

#btnColor > span{
	color: var(--color-text);
}

#btnBackColor > span{
	background: rgb(255, 251, 0);
	padding: 3.5px 5px;
}
