    *{margin: 0;
    padding: 0;
    box-sizing: border-box;
    }


body{
    background: rgb(6, 66, 14);
}


#con-editor{
    width: 60%;
    position: relative;
    left: 20%;
    margin-top: 50px;
}

#editor{
    display: flex;
    flex-direction: column;
    background: darkgrey;
    padding: 5px;
    border-radius: 10px;
    box-shadow:rgb(0, 0, 0) 20px 20px 50px;
}

#BoxTexto{
    background: rgb(236, 237, 240);
    width: 100%;
    height: 50vh;
    outline: none;
    border: solid 1px cornsilk;
    padding: 10px;
    margin-bottom: 10px;
}


#menu{
			background: #ddd;
			width: 100%;
			border: solid 1px #ccc;
			border-radius: 5px;
			padding: 5px;
		}

		.comando{
			padding: 5px 10px;
			background: white;
			border: solid 1px #ccc;

			outline: none;
			cursor: pointer;
		}

		.comando:active{
			border: solid 1px #555;
			background: #eee;
		}

		#btnUnderline > span{
			text-decoration: underline;
		}

		#btnColor > span{
			color: #000000;
		}

		#btnBackColor > span{
			background: gold;
			padding: 3.5px 5px;
		}
